body {
    background-color: red;
}

h1 {
    font-family: arial;color: navy;size: 20px;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    align-content: center;
    text-align: center;
}